.nav {
    position: sticky;
    top: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(166, 184, 255);
    padding: 1rem;
    font-size: 2.3rem;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 400px) {
    nav {
        font-size: 1.5rem;
    }
}